@font-face {
  font-family: 'work_regular';
  src: url('../fonts/WorkSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'work_light';
  src: url('../fonts/WorkSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'work_thin';
  src: url('../fonts/WorkSans-Thin.woff') format('woff');
}

@font-face {
  font-family: 'caption';
  src: url('../fonts/Cormorant-Light.woff2') format('woff2'),
  url('../fonts/Cormorant-Light.woff') format('woff');
}

@font-face {
  font-family: 'logo';
  src: url('../fonts/ptah-regular-webfont.woff2') format('woff2'),
       url('../fonts/ptah-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

div { vertical-align: top; }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
  background: black;
  padding: 0;
  margin: 0;
  font-family: 'futura';
}

a:link{
  text-decoration: none;
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

a:active {
  color: whitesmoke;
}


.close {
  /* font-size: 100px;
  line-height: 1; */
  position: fixed;
  top: 5%;
  left:92%;
}

.close img{
  height: auto;
  width: 70%;
}

.top-nav{
  width: 100%;
  height: 310px;
  margin-bottom: 50px;
}


/* .poppychen{
  font-size: 160px;
  text-align: center;
  color: white;
  font-family: 'logo', sans-serif;
} */

.logo1{
  transform: translate(43%, 10%)
}
.logo1 img{
  height: auto;
  width: 15%;
}

a:hover{
  color: black;
}

.aboutnav{
  font-family: 'work_regular', sans-serif;
  position: absolute;
  right: 60px;
  top: 80px;
  color:#ed1c24;
  display: inline-block;
  font-size: 30px;
}

.citygirl{
  font-family: 'work_regular', sans-serif;
  position: absolute;
  left: 60px;
  top: 80px;
  color:#ed1c24;
  display: inline-block;
  font-size: 30px;
}

/* .space{
  width: 100%;
  height: 200px;
  color: black;
} */

.projects{
  width: 100%;
  margin-left: 20px;

}

.project {
  padding: 0 0px 100px 20px;
}

.project.large {
  width: calc(60% - 40px);
  display: inline-block;
}

.project.small {
  width: calc(40% - 40px);
  display: inline-block;
}


.project img {
  width: 100%;
  height: auto;
}

/* SHAKE CODE */
/* SHAKE CODE */
/* SHAKE CODE */
/* SHAKE CODE */

@-webkit-keyframes shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@-moz-keyframes shake {
  0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
  10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
  40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
  50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -moz-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
  100% { -moz-transform: translate(1px, -2px) rotate(-1deg); }
}

@-o-keyframes shake {
  0% { -o-transform: translate(2px, 1px) rotate(0deg); }
  10% { -o-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -o-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -o-transform: translate(0px, 2px) rotate(0deg); }
  40% { -o-transform: translate(1px, -1px) rotate(1deg); }
  50% { -o-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -o-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -o-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -o-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -o-transform: translate(2px, 2px) rotate(0deg); }
  100% { -o-transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake {
  0% { transform: translate(2px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(0px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(2px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.project img:hover {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: shake;
  -moz-animation-duration: 0.8s;
  -moz-transform-origin:50% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -o-animation-name: shake;
  -o-animation-duration: 0.8s;
  -o-transform-origin:50% 50%;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;

  animation-name: shake;
  animation-duration: 0.8s;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 100 !important;
  position: relative;
}

.project.nextdoor.thumbnail {
  position: relative;
  top: -100px;
}

/* END SHAKE */
/* END SHAKE */
/* END SHAKE */

.intro{
  position: relative;
  width: 100%;
  top: -200px;
  margin: 0 auto;
  color: white;
  font-size: 0;
  line-height: 60px;
}

.left-intro{
  width: 50%;
  display: inline-block;
  padding: 0 20px 100px 20px;
font-size: 40px;
}

.right-intro{
  width: 50%;
  display: inline-block;
  padding: 0 20px 100px 20px;
  font-size: 40px;
}

.title{
  margin-bottom: 40px;
  font-size: 60px;
  text-align: center;
  font-family: 'work_regular', sans-serif;
}

.top-intro{
  width: 60%;
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  font-family: 'caption', sans-serif;
  line-height: 58px;
}

/* .middle-intro{
  font-size: 40px;
  text-align: left;
} */

.middle-intro{
  position: relative;
  width:73%;
  left: 50px;
  padding: 50px 0 50px 20px;
  color:whitesmoke;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  font-family: 'caption', sans-serif;
}

.about-intro{
  position: relative;
  width:20%;
  left: 42%;
  padding: 50px 0 50px 20px;
  color:whitesmoke;
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  font-family: 'caption', sans-serif;
}

.lower-intro{
  position: relative;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 70px 20px;
  color:whitesmoke;
  font-size: 24px;
  line-height: 38px;
  text-align: left;
  letter-spacing: 0.5px;
  font-family: 'caption', sans-serif;
}
.caption{
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 15px 20px 70px 0;
  font-family: 'work_thin',sans-serif;
}

.caption2{
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 50px 0 30px 0;
  font-family: 'caption',sans-serif;
}

.caption3{
  position: fixed;
  left:5%;
  bottom: 5%;
  color: white;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
  text-align: left;
  padding: 15px 20px 70px 0;
  font-family: 'work_regular',sans-serif;
}

.projects2{
  width: 100%;
  margin: 0 auto;
  transform: translate(10%,0);
  
}

.top_image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  padding-bottom: 5px;
}

.fixed_image img{
  position: fixed;
  width: 90%;
  height: auto;
  padding-bottom: 5px;
  left: 5%;
  top: 25%;
}


.sidebyside {
  display: inline-block;
  width: 40%;
  padding-left: 0;
  padding-bottom: 40px;
}

.sidebyside img {
  width: 100%;
  height: auto;
}

.booklet {
  padding: 20px 15px;
  /* transform: translate(0,200%); */
}

.booklet img {
  width: 100%;
  height: auto;
  margin-left: 20px;
}

.booklet.left {
  width: calc(50% - 40px);
  display: inline-block;
}

.booklet.right {
  width: calc(50% - 40px);
  display: inline-block;
}

.center_image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding-bottom: 5px;
}

#thebroad {
  background-color: #fff;
}
